* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: sans-serif
}

body{
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 1280;
    height: auto;
    margin: 88px 80px 137px 80px;
}

img {
    border-radius: 28px;
    width: 100%;
}

    /* Section #aboutBusan */

h1 {
    margin-top: 8px;
    margin-bottom: 40px;
    color: #1B1B1B;
}


h5 {
    font-weight: bold;
    font-size: 16px;
    color: #E1624F;
    font-family: 'Open Sans';
}

#aboutBusan p {
    height: 37px;
    margin: 24px 80px 40px 80px;
    text-align: center;
    font-size: 100%;
}

    /* Section #discover */

h6 {
    font-weight: bold;
    font-size: 16px;
    color: #E1624F;
    font-family: 'Open Sans';
    margin-top: 64px;
    margin-bottom: 10px;
 }

 h2 {
    margin: 5px auto 8px auto;
    color: #1B1B1B;
 }

 p {
    color: #333333;
    margin: auto auto 64px auto;
    font-family: 'Open sans';
 }

    /* Section #temple1 */

h3 {
    margin: 20px auto 4px auto;
    padding-left: 11px;
}

#temple1 p {
    margin-bottom: 48px;
}

    /* Section #temple2 */

#temple2 p {
        margin-bottom: 48px;
}

    /* Section #park */

#park {
    margin-bottom: 40px;
}

#description {
    margin-top: 40px;
    text-align: center;
}

footer {
    color: #333333;
    text-align: center;
    padding-bottom: 52px;
    margin-top: 65px;
    font-family: 'Alice', serif;
}

footer img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}